<style type="text/css">
* {
    background: #333!important ;
    background-color:#222!important ;
    background-blend-mode: multiply;
    border-color: #333 !important ;
    color:#ccc!important ;
}
</style>