* {
    background: url("https://www.flowcreteasia.com/media/7539/dark-grey.jpg")!important;
    background-color:#222!important ;
    background-image:url("https://www.flowcreteasia.com/media/7539/dark-grey.jpg")!important ;
    background-blend-mode: multiply;
    border-color: #222 !important ;
    color:#ccc!important ;
}
h1, h2, h3, h4, h5, h6{
    color:greenyellow!important;
}
header,nav,footer{
    background:  url("https://www.flowcreteasia.com/media/7539/dark-grey.jpg")!important;
    background-image:url("https://www.flowcreteasia.com/media/7539/dark-grey.jpg")!important ;
    background-color:#000!important ;
    border-color:#ccc!important ;
}